.registro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --ion-background-color: #faf9f8;
}

.reset-title {
    text-align: center;
    margin-bottom: 20%;
    font-size: 40px;
    color: #17202a;
}
ion-item {
    --border-radius: 5px;
}

.regis-item {
    max-width: 85%;
    margin: 0px 0px 15px 30px;
}

.login-title {
    text-align: center;
    margin-bottom: 20%;
    font-size: 40px;
    color: #17202a;
}

.login-logo {
    width: 65%;
    height: auto;
    margin: 30px 80px;
}

ion-button {
    --border-radius: 5px;
    --padding-start: 20px;
    --padding-end: 20px;
    margin: 0 auto;
    color: #000000;
}