<ion-content [fullscreen]="true" class="fondoinicio" >
  <div>
    <h2 class="profile-title" style="font-weight: bold">Perfil Usuario</h2>
  </div>
  <div class="profile-container">
    <div class="profile-details">
      <ion-item class="profile-item">
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input [(ngModel)]="usuario" type="text" readonly></ion-input>
      </ion-item>

      <ion-item class="profile-item">
        <ion-label position="floating">Contraseña Actual</ion-label>
        <ion-input [(ngModel)]="currentPassword" type="password"></ion-input>
      </ion-item>
      
      <ion-item class="profile-item">
        <ion-label position="floating"></ion-label>
        <ion-input [(ngModel)]="password" type="password" placeholder="Nueva Contraseña (Opcional)"></ion-input>
      </ion-item>

      <div class="button-container">
        <ion-button expand="block" fill="clear" (click)="saveProfile()">
          <ion-icon name="save-outline" slot="start"></ion-icon>
          Guardar Cambios
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/inicio">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

